.bg-color{
    background-color: thistle;
 }
 

.subtitle {
    color: cadetblue;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 2rem;
}

/* gallery */
@keyframes bg-slide {
    0% {
        background-image: url("../../img/t1.jpg");
    }

    25% {
        background-image: url("../../img/t2.jpg");
    }

    50% {
        background-image: url("../../img/t3.jpg");
    }

    100% {
        background-image: url("../../img/t4.jpg");
    }
}

.gallery-bg {
    background-image: url("../../img/t1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery-bg-animate {
    animation-name: bg-slide;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}


.gallery-img-size img {
    width: 200px;
    height: 200px;
}

