/* gallery */
@keyframes bg-slide {
    0% {
        background-image: url("../img/t1.jpg");
    }
    25%{
        background-image: url("../img/t2.jpg");
    }
    50% {
        background-image: url("../img/t3.jpg");
    }
    100% {
        background-image: url("../img/t4.jpg");
    }
  }
  
.gallery-content {
    background-image: url("../img/t1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery-content-animate{
    animation-name: bg-slide;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.gallery-title,
.contact-title {
    text-align: center;
}

.gallery-img-size img {
    width: 200px;
    height: 200px;
}

.child-right-item-center {
    align-items: center;
    margin: auto;

}

.gallery-table {
    margin-left: auto;
    margin-right: auto;
}

/* contact */
.contact-img {
    border-radius: 50%;
}

.contact-email-link a:link {
    color: black;
}

.contact-email-hover a:hover {
    background-color: rgb(103, 156, 217);
    color: white;
}