body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(191, 212, 216);
    margin: 0;
    padding: 0;
}

.subtitle {
    color: cadetblue;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 30px;
    text-align: center;
}

.content {
    color: rgb(49, 101, 103);
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 2%;
    font-size: 20px;
}

.mainHome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 400;
}

.childImage {
    width: 100%;
    height: 100%;
}

 
.img-default {
    /* -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out; */
    border-radius: 10%;
    display: block;
	margin:auto;    
}

.event:hover {
    /* -webkit-transform: scale(1);
    transform: scale(1); */
    border-radius: 5%;
}

.childSchedule {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(134, 220, 216), rgb(136, 212, 136)) ;
    border-style: groove;
    padding: 2%;
    margin-right: 50px;
}