
 .tnav {
    background-color: rgb(209, 133, 133);
    overflow: hidden;
    font-family: Arial Narrow;
  }


  .tnav a {
    float: left;
    color: antiquewhite;
    text-align: center;
    padding: 14px 16px;
    font-size: 25px;
    text-decoration: none;
  }


  .tnav a:hover {
    background-color: wheat;
    color: black;
  }


  .tnav a.active {
    background-color: yellowgreen;
    color: white;
    text-decoration: underline;
  }

  .aside-nav{
    background-color: darkcyan;
    height: 100%;
  }

 .aside-nav ul {
    margin: 0;
    padding: 15px;
    width: 250px;
    background-color: darkcyan;
    font-family: Arial Narrow;
  }

  .aside-nav a {
    display: block;
    color: antiquewhite;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 22px;
  }

  .aside-nav a:hover {
    background-color: wheat;
    color: black;
  }