@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

/* upper nav */
#nav {
  display: flex;
  flex-direction: row;
  background-color: lightblue;
  font-size: larger;
  width: 100%;
}

nav a {
  color: white;
  text-decoration: none;
  padding-right: 80px;
  padding-left: 10px;
  box-shadow: 5px 3px 20px lightgoldenrodyellow;
}

#nav a:hover {
  padding-left: 20px;
  font-size: 20px;
  background-color: darkcyan;


}

/* sidebar */
.aside-nav {
  background-color: darkcyan;
  height: 100%;
}

.aside-nav ul {
  margin: 0;
  padding: 15px;
  width: 250px;
  background-color: darkcyan;
  font-family: Arial Narrow;
}

.aside-nav a {
  display: block;
  color: antiquewhite;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 22px;
}

.aside-nav a:hover {
  background-color: wheat;
  color: black;
}