
 .container {
    grid-area: mn;
    min-height: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr 2fr);
    grid-template-rows: 50px auto;
    /* grid-auto-rows: minmax(150px, auto); */
    gap: 1rem;
    background-color: thistle;
}

.box {
  
    color: #fff;
    font-size: 2rem;
    padding: 0.5rem;
}

.box:first-child {

    grid-column: 1/5;
    display: grid;
    place-content: center center;
}

.box:last-child {
  
    grid-column: 1/5;

    display: grid;
    place-content: center center;
}